{# templates/index.html.twig #}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title></title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/navbar.css') }}" />
  </head>
  <body>
    {% include 'components/navbar.html.twig' %}
  </body>
</html>
