{# templates/index.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{{asset('css/index.css')}}">
</head>
<body>
    <h1>Test</h1>
</body>
</html>
