{# templates/index.html.twig #}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title></title>
    <link rel="stylesheet" href="{{ asset('css/login.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/navbar.css') }}" />
  </head>
  <body>
    {% include 'components/navbar.html.twig' %} {% include
    'components/registerBody.html.twig' %} {% if error is defined %}
    <p style="color: red">{{ error }}</p>
    {% endif %}
  </body>
</html>
