<div class="navbar">
  <a href="{{ path('login') }}" class="icon-link" title="Login">
    <i class="fas fa-user"></i>
  </a>

  <a href="{{ path('home') }}">Home</a>
  <a href="#">Data</a>
  <a href="#">Instellingen</a>
</div>
